* {
    margin: 0;
    padding: 0;
}

body {
    background-color: black;
    font-family: Arial, Helvetica, sans-serif;
}

h1 {
    font-size: 26px;
}

h2 {
    font-size: 16px;
}

h3 {
    font-size: 24px;
}

#container {
    max-width: 1000px;
    margin: auto;
}

header {
    background-color: #70dee6;
    text-align: center;
    color: white;
    padding: 10px;
}

/*        */

.section-form {
    padding: 20px;
    background-image: url("../imagens/fundo.jpg");
    background-size: cover;
    background-position: center;
}

.container-form {
    background-color: #FFFFFFBB;
    max-width: 230px;
    margin-left: auto;
    padding: 20px;
}

.margin-b {
    margin-bottom: 20px;
}

input, select {
    margin-bottom: 10px;
    width: 100%;
    padding: 10px;
    border: 0;
    box-sizing: border-box;
}

input[type="submit"] {
    background-color: #48C5CE;
    color: white;
    font-weight: bold;
}

select {
    appearance: none;
    -moz-appearance: none;
    -webkit-appearance: none;
    background-image: url("../imagens/seta.jpg");
    background-repeat: no-repeat;
    background-position: calc(100% - 10px) center;
}

.section-speaker {
    background-color: #202121;
    text-align: center;
    padding: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.picture {
    width: 160px;
}

.description {
    color: white;
    display: inline-block;
    max-width: 40%;
    margin-left: 40px;
}

.description h3, .description p {
    margin-bottom: 20px;
    text-align: left;
}

@media screen and (max-width: 480px) {
    .section-form {
        display: flex;
        justify-content: center;
    }

    .container-form {
        margin: 0;
    }

    .section-speaker {
        flex-direction: column;
    }

    .description {
        display: flex;
        align-items: center;
        flex-direction: column;
        max-width: 100%;
        margin: 12px 0 0 0;
    }

    .description h3, .description p {
        text-align: center;
    }
}